# Node
node_modules/
lib/
*.bs.js

*.bs.mjs

npm-debug.log*
package-lock.json

# Rust
backend/target/
backend/Cargo.lock

# OS
.DS_Store
Thumbs.db

# Logs
logs/debug_log_*.json
logs/error.log
logs/telemetry.log

# Build
dist/
css/output.css
bin/
backend_log.txt
