/* Group Colors for Scene List */
.group-color-0 {
    background-color: #f97316;
}

/* Orange 500 */
.group-color-1 {
    background-color: #ea580c;
}

/* Orange 600 */
.group-color-2 {
    background-color: #c2410c;
}

/* Orange 700 */
.group-color-3 {
    background-color: #9a3412;
}

/* Orange 800 */
.group-color-4 {
    background-color: #78350f;
}

/* Orange 900 */
.group-color-default {
    background-color: var(--slate-100);
}